In [27]:
import pandas as pd

In [28]:
cars = pd.read_csv("50_Startups.csv")

In [29]:
cars.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [30]:
cars.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [31]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [32]:
cars.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [33]:
cars = cars.rename(columns={"R&D Spend":"research_spend","Marketing Spend":"Marketing_spend"})

In [34]:
cars.head()

   research_spend  Administration  Marketing_spend       State     Profit
0       165349.20       136897.80        471784.10    New York  192261.83
1       162597.70       151377.59        443898.53  California  191792.06
2       153441.51       101145.55        407934.54     Florida  191050.39
3       144372.41       118671.85        383199.62    New York  182901.99
4       142107.34        91391.77        366168.42     Florida  166187.94

In [35]:
import statsmodels.formula.api as smf

In [36]:
model = smf.ols("Profit~research_spend+Administration+Marketing_spend",data=cars).fit()

In [37]:
model.params

Intercept          50122.192990
research_spend         0.805715
Administration        -0.026816
Marketing_spend        0.027228
dtype: float64

In [38]:
model.pvalues #As p values of administration is above significance level so we can drop that column for better output.

Intercept          1.057379e-09
research_spend     2.634968e-22
Administration     6.017551e-01
Marketing_spend    1.047168e-01
dtype: float64

In [40]:
print(model.rsquared_adj)

0.9475337762901719

In [41]:
model = smf.ols("Profit~research_spend+Marketing_spend",data=cars).fit()

In [42]:
print(model.rsquared_adj) #more accurate results

0.9483418037498477

## For getting y we can give x and save the predicted results

In [48]:
new_df = pd.DataFrame({'research_spend':[165349,500000,700000], 'Marketing_spend':[471784,200000,1800000]})

In [49]:
new_df

   research_spend  Marketing_spend
0          165349           471784
1          500000           200000
2          700000          1800000

In [50]:
model.predict(new_df)

0    192800.296317
1    451249.461290
2    658418.870430
dtype: float64

# on comparison with first value of cars head we can see that our predicted result is correct